#bar
  %h1 Luc.io

  #track

  #about

  %table#hotkey
    %tr
      %td n
      %td Next track

    %tr
      %td p
      %td Previous track

    %tr
      %td Space
      %td Play/Pause

#cont
  #wave
    %svg{:fill => "rgba(69, 234, 34, 0.26)", :height => 160, :xmlns => "http://www.w3.org/2000/svg"}
      %path{:stroke => "rgb(69, 234, 34)", "stroke-width" => "4", :d => "M 0,160 Q 160,10 260,160"}

#player
